<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkbox.css">
    <link rel="stylesheet" href="../css/table.css">
    <title>2020年</title>
    <script src="../js/vue.min.js"></script>
    <script src="../js/utils.js"></script>
    <script>
        const HEAD = {image:'封面', name_zh:'作品名', name_jp:'日文名', detail:'作品介绍', vedio:'动画链接', company:'制作公司', link:'相关&后续'};
        const DATA = {
            win: [
                {
                    id: 1,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
                {
                    id: 2,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
                {
                    id: 3,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
            ],
            spr: [
                {
                    id: 1,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
                {
                    id: 2,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
                {
                    id: 3,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
            ],
            sum: [
            {
                    id: 1,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
                {
                    id: 2,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
                {
                    id: 3,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
            ],
            aut: [
            {
                    id: 1,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
                {
                    id: 2,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
                {
                    id: 3,
                    season: 'Win',
                    image: add_img('https://lain.bgm.tv/pic/cover/c/72/8f/1839_4dLsd.jpg'), 
                    name_zh: '仰望半月的夜空', 
                    name_jp: '半分の月がのぼる空', 
                    detail: `${add_a('https://www.wikiwand.com/zh-cn/仰望半月的夜空', 'wiki')}<br />${add_a('https://bgm.tv/subject/1839', 'bangumi')}`, 
                    vedio: add_a('https://www.bilibili.com/bangumi/media/md1391/', 'bilibili'), 
                    company: 'Tac', 
                    link: '',
                },
            ]
        };

    </script>
</head>
<body>
    <div id='main'>
        <div>
            <input type="checkbox" id="toggle" class="unfolder"/> 
            <label for="toggle" class="toggle-label">
                <span class="unfold-icon">&#9654;</span>
                <span class="fold-icon">&#9660;</span> Title
            </label>
                    
            <div class="fold">
                <button @click="function(){for(let k in heads){col[k]=true}}">全选</button>
                <button @click="function(){for(let k in heads){col[k]=!col[k]}}">反选</button>
                <div class="page__section page__custom-settings">
                    <div class="page__toggle"  v-for="v, k, i in heads" :key="i">
                        <label class="toggle">
                            <input class="toggle__input" type="checkbox" v-model="col[k]">
                            <span class="toggle__label">
                            <span class="toggle__text">{{v}}</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="quarter">1月（冬番）</div> -->
        <!-- <div class="table-wrapper"> -->
        <div class="wrap-table100">
            <div class="table100">
                <!-- <table id='winter' class="fl-table"></table> -->
                <table id='winter'>
                    <thead>
                        <tr>
                            <th v-for="v, k, i in heads" :key="i" v-if="col[k]">{{v}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="sname,season in tbtitle">
                            <tr @click="rowhide(season)">
                                <th :colspan="headlen">{{sname}}</th>
                            </tr>
                            <tr v-for="d in datas[season]" :key="d.id" class="season" v-if="row[season]">
                                <td v-if="col.image" v-html="d.image"></td>
                                <td v-if="col.name_zh" v-html="d.name_zh"></td>
                                <td v-if="col.name_jp" v-html="d.name_jp"></td>
                                <td v-if="col.detail" v-html="d.detail"></td>
                                <td v-if="col.vedio" v-html="d.vedio"></td>
                                <td v-if="col.company" v-html="d.company"></td>
                                <td v-if="col.link" v-html="d.link"></td>
                            </tr>

                        </template>
                        
<!-- 
                        
                        <tr @click="rowhide('spr')">
                            <th :colspan="headlen">4月（春番）</th>
                        </tr>
                        <tr v-for="d in datas.spr" :key="d.id" class="spr" v-if="row.spr">
                            <td v-if="col.image" v-html="d.image"></td>
                            <td v-if="col.name_zh" v-html="d.name_zh"></td>
                            <td v-if="col.name_jp" v-html="d.name_jp"></td>
                            <td v-if="col.detail" v-html="d.detail"></td>
                            <td v-if="col.vedio" v-html="d.vedio"></td>
                            <td v-if="col.company" v-html="d.company"></td>
                            <td v-if="col.link" v-html="d.link"></td>
                        </tr>
                        <tr @click="rowhide('sum')">
                            <th :colspan="headlen">7月（夏番）</th>
                        </tr>
                        <tr v-for="d in datas.sum" :key="d.id" class="sum" v-if="row.sum">
                            <td v-if="col.image" v-html="d.image"></td>
                            <td v-if="col.name_zh" v-html="d.name_zh"></td>
                            <td v-if="col.name_jp" v-html="d.name_jp"></td>
                            <td v-if="col.detail" v-html="d.detail"></td>
                            <td v-if="col.vedio" v-html="d.vedio"></td>
                            <td v-if="col.company" v-html="d.company"></td>
                            <td v-if="col.link" v-html="d.link"></td>
                        </tr>                        
                        <tr @click="rowhide('aut')">
                            <th :colspan="headlen">10月（秋番）</th>
                        </tr>
                        <tr v-for="d in datas.aut" :key="d.id" class="aut" v-if="row.aut">
                            <td v-if="col.image" v-html="d.image"></td>
                            <td v-if="col.name_zh" v-html="d.name_zh"></td>
                            <td v-if="col.name_jp" v-html="d.name_jp"></td>
                            <td v-if="col.detail" v-html="d.detail"></td>
                            <td v-if="col.vedio" v-html="d.vedio"></td>
                            <td v-if="col.company" v-html="d.company"></td>
                            <td v-if="col.link" v-html="d.link"></td>
                        </tr>
                         -->

                        
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

    <script>
        let col = {}
        let row = {}


        if(window.localStorage.getItem("col")) {
            col = JSON.parse(window.localStorage.getItem("col"));
        } else {
            col = {
                    id: false,
                    season: false,
                    image: true,
                    name_zh: true,
                    name_jp: true,
                    detail: true,
                    vedio: true,
                    company: true,
                    link: true,
            }
        }
        if(window.localStorage.getItem("row")) {
            row = JSON.parse(window.localStorage.getItem("row"));
        } else {
            row = {
                    win: true,
                    spr: true,
                    sum: true,
                    aut: true,
            }
        }

        

        let tb = new Vue({
            el: '#main',
            // template:'#template',
            // components:{test},
            data: {
                heads: HEAD,
                datas: DATA,
                col: col,
                row: row,
                headlen: Object.keys(HEAD).length,
                tbtitle: {
                    win: '1月（冬番）',
                    spr: '4月（春番）',
                    sum: '7月（夏番）',
                    aut: '10月（秋番）',
                }
            },
            methods: {
                rowhide(season){
                    this.$data.row[season] = !this.$data.row[season]
                },

            },
            watch: {
                col: {
                    handler: function (val, oldVal) { 
                        window.localStorage.setItem('col',JSON.stringify(col))
                    },
                    deep: true
                },
                row: {
                    handler: function (val, oldVal) { 
                        window.localStorage.setItem('row',JSON.stringify(row))
                    },
                    deep: true
                }
            }
        })
        
        
        
    </script>
</body>
</html>